<h1>Your posts</h1>

<%= render 'form' %>

<% @posts.each do |post| %>
<div class="post">
  <div class="post-body">
    <%= post.body %>
  </div>
  <div class="post-date">
    <%= link_to post.created_at, post %>
  </div>
  <div class="post-meta">
    <%= link_to 'Edit', edit_post_path(post) %>,
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>
