<!DOCTYPE html>
<html>
<head>
  <title>JustMe</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container grid">
  <%= yield %>

  <div class="unit whole">
    <% if logged_in? %>
      <a href="<%= logout_path %>" class="btn"><%= t('auth.logout') %></a>
    <% else %>
      <div class="text-center">
        <a href="/auth/github" class="btn"><i class="icon-github-alt"></i> <span><%= t('auth.github_html') %></span></a>
      </div>
    <% end %>
  </div>

</div>

</body>
</html>
